<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Become Resident</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">

  <p>
    If you like to become a resident, please type below an email. The Email will be forwarded to selected community
    admins or super admin and they will respond to your request in least business days. You will receive a response on
    the email address saved in your zuul profile.
  </p>

  <form [formGroup]="aForm">

    <ion-item class="form_input yellow-border">
      <ion-label position="stacked">Write Community Name</ion-label>
      <ion-input type="text" formControlName="community_name" id="community_name" placeholder=""
        (keyup)="searchCommunityHint($event)"></ion-input>
      <!-- <ion-label style="font-size: 10px; color: lightslategray;">{{hint}}</ion-label> -->
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email To Admin(s)</ion-label>
      <ion-textarea rows="10" placeholder="Write a message here ..." formControlName="description"></ion-textarea>
    </ion-item>

    <div class="ion-padding">
      <ion-button [disabled]="aForm.invalid" shape="round" color="primary" expand="block" type="submit"
        (click)="sendCodeToServer()">Send</ion-button>
    </div>



  </form>


</ion-content>