<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Households ({{this.plist.length}})</ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isLoading">
        <ion-spinner color="light"></ion-spinner>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="plist?.length > 0">
    <ion-row *ngFor="let item of plist; let i = index" [ngClass]="{'darkbg' : item.dark}">
      <ion-col size="8" class="pass_details">
        <ion-item lines="none">
          <!-- <ion-avatar item-start>
            <img [src]="(item.profile_image != null ) ? item.profileImageUrl : avatar">
          </ion-avatar> -->
          <ion-label>
            <h2>{{item?.full_name}}</h2>
            <p>Phone: <span>{{item?.formatted_phone_number}}</span></p>
            <div class="permissions">
              <h3>Permissions</h3>
              <ul>
                <li>
                  <ion-icon *ngIf="item.can_manage_family == 1" name="checkmark"></ion-icon>
                  <ion-icon *ngIf="item.can_manage_family != 1" name="close"></ion-icon> Manage Household
                </li>
                <li>
                  <ion-icon *ngIf="item.can_send_passes == 1" name="checkmark"></ion-icon>
                  <ion-icon *ngIf="item.can_send_passes != 1" name="close"></ion-icon> Send Passes
                </li>
                <li>
                  <ion-icon *ngIf="item.can_retract_sent_passes == 1" name="checkmark"></ion-icon>
                  <ion-icon *ngIf="item.can_retract_sent_passes != 1" name="close"></ion-icon> Retract Sent Passes
                </li>
              </ul>
            </div>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="pass_menu">
        <h3>Passes</h3>
        <ion-list>
          <ion-item lines="none" class="active">Active ( {{item?.active_passes_count}} )</ion-item>
          <ion-item lines="none" class="archive">Archive ( {{item?.archived_passes_count}} )</ion-item>
          <ion-item lines="none" class="send">Sent ( {{item?.sent_passes_count}} )</ion-item>
          <ion-item lines="none">
            <ion-button (click)="presentEditFamilyPopover($event, item)" size="full" fill="clear">
              <ion-icon color="white" name="options"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>


      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>