.noRecords {
    padding-top: 40%;
    ion-avatar {
        display: table;
        margin: 0 auto;
        width: 30%;
        text-align: center;
        img {
            width: 100% !important;
            height: 100% !important;
            border-radius: 50%;
        }
    }
    h2 {
        font-size: 20px;
        color: #204d89;
        text-align: center;
    }
}

ion-row.darkbg ion-col.pass_details.col {
    background: #e7eef8 !important;
}

ion-col {
    padding: 0px !important;
    margin-bottom: 10px !important;
    background: #f8f8f8 !important;
    border-left: 3px solid #4972b8;
    border-radius: 0px !important;

    ion-item {
        padding-left: 0 !important;
        -webkit-box-align: start !important;
        -webkit-align-items: start !important;
        -ms-flex-align: start !important;
        align-items: start !important;
        --background: none !important;

        ion-avatar {
            margin: 10px !important;
            min-width: 45px !important;
            min-height: 45px !important;

            img {
                width: 45px !important;
                height: 45px !important;
            }
        }
        ion-label {
            h2 {
                font-weight: 700 !important;
            }
            p {
                font-size: 1.1rem !important;
                span {
                    color: #081a3a;
                }
            }
            .permissions {
                padding: 0px;
                border-left: #e4e4e4 1px solid;
                margin-top: 10px;
                padding-left: 10px;

                h3 {
                    color: #333;
                    font-size: 1.1rem;
                }
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

.pass_menu {
    background: #4972b8 !important;
    border-left: 0px solid #4972b8;
    color: #fff !important;

    h3 {
        padding: 10px 10px 0px 10px;
        color: #fff !important;
    }

    ion-list {
        padding: 0px;
        margin: 10px 0;

        ion-item {
            align-items: center !important;
            --background: #4972b8 !important;
            font-size: 12px !important;
        }
        ion-item.active {
            border-left: 6px solid greenyellow;
        }
        ion-item.archive {
            border-left: 6px solid indianred;
        }
        ion-item.send {
            border-left: 6px solid #ccc;
        }
    }
    ion-icon {
        float: right;
        padding: 10px;
    }
}

ion-footer {
    background: #204d89 !important;
    // z-index: 5555;
    button {
        width: 100% !important;
        float: left !important;
        height: auto !important;
        // padding: 20px 0px !important;
        background: transparent !important;
        // border:1px solid #3e5d8b !important;
        // box-shadow: 1px 1px 3px #0b2347;
        box-shadow: none !important;

        .button-inner {
            display: block;
        }
        ion-badge {
            position: absolute;
            z-index: 999;
            background: #e1372f !important;
            height: 20px;
            width: 20px;
            padding: 5px 0px 0px;
            font-size: 1.1rem;
        }
        ion-icon {
            display: block;
            font-size: 2.8em;
        }
        label {
            display: block;
            font-size: 0.7em;
        }
    }
}
