<ion-list *ngIf="flag == 'C'">
  <!-- <ion-item-divider color="dark"><h3>{{pid.display_name}}</h3> <ion-icon name="menu" slot="end"></ion-icon></ion-item-divider> -->
  <ion-item (click)="close('SP')" *ngIf="can_send_passes" [disabled]="suspandAccount">Send a Pass </ion-item>
  <ion-item (click)="close('RP')">Request a pass</ion-item>
  <ion-item (click)="close('C')">Call</ion-item>
  <ion-item (click)="close('E')">Edit Contact</ion-item>
  <ion-item (click)="close('G')">Add To Group</ion-item>
  <ion-item (click)="close('F')">Add To Favorites</ion-item>
  <ion-item (click)="close('D')" [disabled]="lock_head_of_family">Delete Contact <ion-icon slot="end"
      *ngIf="lock_head_of_family" ios="ios-lock" md="md-lock"></ion-icon>
  </ion-item>

</ion-list>

<ion-list *ngIf="flag == 'G'">
  <!-- <ion-item (click)="close('S')">Expand/Collapse Contacts</ion-item> -->
  <ion-item (click)="close('G')">Add Contact(s) to Group </ion-item>
  <ion-item (click)="close('SP')" *ngIf="can_send_passes" [disabled]="suspandAccount">Send a Pass </ion-item>
  <ion-item (click)="close('E')">Edit Group Name</ion-item>
  <ion-item (click)="close('D')">Delete Group</ion-item>
</ion-list>

<ion-list *ngIf="flag == 'F'">
  <!-- <ion-item-divider color="dark"><h3>{{pid.display_name}}</h3> <ion-icon name="menu" slot="end"></ion-icon></ion-item-divider> -->
  <ion-item (click)="close('SP')" *ngIf="can_send_passes" [disabled]="suspandAccount">Send a Pass </ion-item>
  <ion-item (click)="close('RP')">Request a Pass</ion-item>
  <ion-item (click)="close('C')">Call</ion-item>
  <ion-item (click)="close('E')">Edit Contact</ion-item>
  <ion-item (click)="close('G')">Add To Group</ion-item>
  <ion-item (click)="close('R')">Remove From Favorites</ion-item>
  <!-- <ion-item (click)="close('D')" [disabled]="lock_head_of_family">Delete Contact <ion-icon iten-end *ngIf="lock_head_of_family" ios="ios-lock" md="md-lock"></ion-icon></ion-item> -->

</ion-list>

<ion-list *ngIf="flag == 'CF'">
  <ion-item-divider color="dark">
    <h3>{{pid.display_name}}</h3>
    <ion-icon name="menu" slot="end"></ion-icon>
  </ion-item-divider>
  <!-- <ion-item (click)="close('PC')" *ngIf="allow_parental_control">Parental Controls</ion-item>
  <ion-item (click)="close('P')">Manage Passes</ion-item>
  <ion-item *ngIf="can_manage_family" (click)="close('D')" [disabled]="lock_head_of_family">Delete <ion-icon iten-end
      *ngIf="lock_head_of_family" ios="ios-lock" md="md-lock"></ion-icon>
  </ion-item> -->
  <!-- <ion-item-divider color="light">Permissions</ion-item-divider>
  <ion-item *ngIf="can_manage_family">
    <ion-label>Manage Household</ion-label>
    <ion-checkbox [checked]="pid.can_manage_family == 1" [(ngModel)]="pid.can_manage_family"
      (ionChange)="permissionsUpdate({'item': pid, flag: 'can_manage_family', value: pid.can_manage_family})">
    </ion-checkbox>
  </ion-item>
  <ion-item *ngIf="can_manage_family">
    <ion-label>Send Passes</ion-label>
    <ion-checkbox [checked]="pid.can_send_passes == 1" [(ngModel)]="pid.can_send_passes"
      (ionChange)="permissionsUpdate({'item': pid, flag: 'can_send_passes', value: pid.can_send_passes})">
    </ion-checkbox>
  </ion-item>
  <ion-item *ngIf="isHeadOfFamily">
    <ion-label>Allow Parental Controls</ion-label>
    <ion-checkbox [checked]="pid.allow_parental_control == 1" [(ngModel)]="pid.allow_parental_control"
      (ionChange)="permissionsUpdate({'item': pid, flag: 'allow_parental_control', value: pid.allow_parental_control})">
    </ion-checkbox>
  </ion-item> -->

</ion-list>

<ion-list *ngIf="flag == 'SW'" class="mb-0">
  <ion-item-sliding *ngFor="let item of sw_users">
    <ion-item (click)="close(item)">
      <ion-avatar item-start>
        <img [src]="item.profile_image">
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.phone_number}}</p>
      </ion-label>

    </ion-item>
    <ion-item-options side="end">
      <ion-item color="danger" (click)="removeUser(item)">Remove</ion-item>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item *ngIf="sw_users.length == 0" (click)="close(null)">
    <ion-label>
      <p>No User Found</p>
    </ion-label>
    <ion-badge [hidden]="loader" slot="end" color="danger">{{zuul_unread}}</ion-badge>
  </ion-item>

</ion-list>

<ion-list *ngIf="flag == 'E'">
  <!-- <ion-item (click)="close('S')">Select For Pass </ion-item> -->
  <ion-item [disabled]="pid?.created_by == null" (click)="close('E')">Edit</ion-item>
  <ion-item [disabled]="pid?.created_by == null" (click)="close('D')">Delete</ion-item>
</ion-list>

<ion-list *ngIf="flag == 'VE'">
  <!-- <ion-item (click)="close('S')">Select For Pass </ion-item> -->
  <ion-item (click)="close('E')">Edit</ion-item>
  <ion-item (click)="close('D')">Delete</ion-item>
</ion-list>


<ion-list *ngIf="flag == 'NPC'">
  <ion-item (click)="close('A')">Add Contacts </ion-item>
  <ion-item (click)="close('N')">New Contact</ion-item>
  <ion-item (click)="close('C')">Clear List</ion-item>
</ion-list>

<ion-list *ngIf="flag == 'PCN'" class="ion-text-wrap">
  <ion-item (click)="close('P')" [hidden]="user?.role_id == 9">
    <h5>Parental <br>Notifications</h5>
    <img [hidden]="!loader" class="push-loader-gif" slot="end" src="assets/imgs/circular.gif">
    <ion-badge [hidden]="loader" slot="end" color="danger">{{pc_unread}}</ion-badge>
  </ion-item>
  <ion-item (click)="close('N')">
    <h5>Zuul <br>Notifications</h5>
    <img [hidden]="!loader" class="push-loader-gif" slot="end" src="assets/imgs/circular.gif">
    <ion-badge [hidden]="loader" slot="end" color="danger">{{zuul_unread}}</ion-badge>
  </ion-item>
</ion-list>

<ion-list *ngIf="flag == 'MENU'">
  <ion-item (click)="close('S')">
    <!-- [hidden]="!canShowSettings" -->
    Settings
  </ion-item>
  <ion-item (click)="close('P')">
    Edit Profile
  </ion-item>
  <ion-item (click)="close('M')">
    Manage Vehicles
  </ion-item>
  <ion-item (click)="close('MH')">
    <!-- [hidden]="user?.role_id == 9" -->
    Manage Household
  </ion-item>

  <!-- <ion-item ion-item (click)="openPage(pages[6])">
    Zuul Key
  </ion-item> -->
  <ion-item (click)="close('L')">
    Logout
  </ion-item>
</ion-list>

<ion-list *ngIf="flag == 'NOF'">
  <ion-item (click)="close('A')" *ngIf="pid.category == 'send_request_for_pass'">
    Accept
  </ion-item>
  <ion-item (click)="close('R')" *ngIf="pid.category == 'send_request_for_pass'">
    Reject
  </ion-item>
  <ion-item (click)="close('V')" *ngIf="pid.category == 'send_pass'">
    View Pass
  </ion-item>
  <ion-item (click)="close('D')">
    Remove
  </ion-item>
</ion-list>

<!-- Manage Household Page -->
<ion-list *ngIf="flag == 'MHP'">
  <ion-item-divider color="dark">
    <h3>{{pid.full_name}}</h3>
    <ion-icon name="menu" slot="end"></ion-icon>
  </ion-item-divider>
  <ion-item (click)="close('SP')">
    Show Passes
  </ion-item>
  <ion-item *ngIf="can_manage_family || isHeadOfFamily" [disabled]="lock_head_of_family" (click)="close('PC')">
    <ion-icon slot="end" *ngIf="lock_head_of_family"></ion-icon>
    Parental Controls
  </ion-item>
  <ion-item *ngIf="can_manage_family || isHeadOfFamily" [disabled]="lock_head_of_family" (click)="close('EP')">
    <ion-icon slot="end" *ngIf="lock_head_of_family"></ion-icon>
    Edit Permissions
  </ion-item>
</ion-list>
