<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Add Comments
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">

  <ion-list>

    <ion-item class="ion-text-wrap">
      <ion-label class="ion-text-wrap">
        <h2>Provide Additional Details Or Reason For This Pass Request</h2>
        <p>Type comments below</p>
      </ion-label>
    </ion-item>

    <ion-item class="ion-text-wrap">

      <ion-label class="ion-text-wrap">
        <ion-textarea [(ngModel)]="comments" placeholder="Type Here"></ion-textarea>
      </ion-label>
    </ion-item>


  </ion-list>
  <div style="width:100%; height:30px"></div>
  <ion-button shape="round" expand="block" color="primary" [disabled]="requestSent" (click)="goToNext(3)" ><ion-spinner name="lines" [hidden]="!requestSent"></ion-spinner><span [hidden]="requestSent" >Next</span></ion-button>

</ion-content>
