<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ item?.event_name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="item">
        <ion-spinner color="light"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <div class="openpass" [hidden]="!item">

    <div class="text-center gid-placeholder">
      <div style="width: 100%; text-align: center;" *ngIf="!isImageLoaded"
        [ngClass]="isImageLoaded ? 'opacity-0' : 'opacity-1'">
        <ion-spinner></ion-spinner>
      </div>
      <img [ngClass]="isImageLoaded ? 'opacity-1' : 'opacity-0'" *ngIf="titem?.visitor_type == 'friends_family'"
        [src]="(titem?.license_image == null) ? 'assets/imgs/pass.png' : titem?.license_image" (load)="imageLoaded()" />
      <img [ngClass]="isImageLoaded ? 'opacity-1' : 'opacity-0'" *ngIf="titem?.visitor_type == 'vendor_delivery'"
        src="assets/imgs/delivery.jpg" (load)="imageLoaded()" />
    </div>
    <ion-grid class="highlight">
      <ion-row>
        <ion-col size="12">
          <!-- <ion-icon item-start name="archive"></ion-icon> -->
          <h2 class="text-uppercase">{{item?.event_name}}</h2>
          <!-- <span>validity: {{item.validity}} hours</span> -->
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="col-78">
              <!-- | date: 'd MMMM yyyy' -->

              <span>Starts</span>
              <span class="dt1 text-uppercase">{{titem?.to_date }} </span>
              <span class="tm1 text-uppercase">{{titem?.to_date_time }} </span>
              <ion-icon class="clo1" name="time-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col class="col-78">
              <span>Expires</span>
              <span class="dt1 text-uppercase">{{titem?.for_date }} </span>
              <span class="tm1 text-uppercase">{{titem?.for_date_time }} </span>
              <ion-icon class="clo1" name="time-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="moredetails">
      <ion-row>
        <ion-col size="12" class="ion-text-wrap">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-uppercase">
              <h1>Sender INFO</h1>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12" class="ion-text-wrap">
          <ion-item lines="none" class="ion-no-padding" (click)="!item?.contact_id ? addToContact(item) : null">
            <ion-label>
              <h2 class="ion-text-uppercase">Sender Name</h2>
              <p><strong>{{item?.sender_name}}</strong></p>
            </ion-label>
            <ion-icon slot="end" [hidden]="item?.contact_id" name="person-add-outline"></ion-icon>
            <!-- <ion-button slot="end" fill="clear" color="primary" shape="round" class="ion-padding" *ngIf="item?.contact_id != 0" name="person-add-outline">Add Contact</ion-button> -->
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-wrap">
          <ion-item lines="none" class="ion-no-padding" (click)="callMe(item?.sender_formatted_phone_number)">
            <ion-label>
              <h2 class="ion-text-uppercase">Sender Phone # </h2>
              <p><strong>{{ item?.sender_formatted_phone_number }}</strong></p>
            </ion-label>
            <ion-icon slot="end" name="call-outline"></ion-icon>
            <!-- <ion-button slot="end" fill="clear" color="primary" shape="round" class="ion-padding">Call</ion-button> -->

          </ion-item>

        </ion-col>
        <ion-col size="12" class="ion-text-wrap">
          <ion-item lines="none" class="ion-no-padding ion-text-wrap"
            (click)="!item?.license_plate ? setPassVehicles() : ''">
            <ion-label class="ion-text-uppercase">
              <h2>Vehicle #</h2>
              <p>{{item?.license_plate}} {{item?.make}} {{item?.model}} {{item?.year}} {{item?.color}}</p>
            </ion-label>
            <ion-icon [hidden]="item?.license_plate" slot="end" name="add-circle-outline"></ion-icon>

          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-wrap">
          <ion-item lines="none" class="ion-no-padding ion-text-wrap" (click)="getDirection(item?.description)">
            <ion-label class="ion-text-wrap">
              <h2 class="ion-text-uppercase">{{item?.sender_community_name}} </h2>
              <p class="">{{item?.description | titlecase}}</p>
            </ion-label>
            <ion-icon name="map-outline"></ion-icon>
          </ion-item>
        </ion-col>



        <ion-col size="12" class="ion-text-wrap">
          <ion-item lines="none" class="ion-no-padding ion-text-wrap">
            <ion-label class="ion-text-uppercase" class="yellow-backg">
              <h2>Visitor Type</h2>
              <p>
                <strong *ngIf="item?.visitor_type == 'friends_family'">Friends / Family</strong>
                <strong *ngIf="item?.visitor_type == 'vendor_delivery'">Vendor / Delivery</strong>
              </p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-right">
          <ion-item lines="none" class="ion-no-padding ion-text-wrap" (click)="setPassVehicles()">
            <ion-label class="ion-text-wrap">
              <p>Please use the QR code below for scanning and verification</p>
            </ion-label>
          </ion-item>

          <ngx-qrcode size="400" [elementType]="'url'" [value]="item?.qr_code"></ngx-qrcode>
        </ion-col>
        <ion-col size="12">
          <ion-button shape="round" expand="block" color="primary" class="ion-text-uppercase" *ngIf="item != null"
            (click)="addareminder(item)">
            Add To Calendar
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- <ion-content>
  <img [src]='titem.license_image' width="100%" height="auto"/>

  <div class="bgprimarylight">
    <ion-text color="light">
      <h2>Event Pass</h2>
    </ion-text>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-text color="light">
            <h2>Starts</h2>
            <p>{{titem.for_date}}</p>
            <p>{{titem.for_date_time}}</p>
        </ion-text>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <ion-text color="light">
            <h2>Expires</h2>
            <p>{{titem.to_date}}</p>
            <p>{{titem.to_date_time}}</p>
        </ion-text>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-content> -->

<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons lsot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{item?.event_name}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <img *ngIf="item?.visitor_type == '1'" [src]="(item?.license_image == null) ? 'assets/imgs/pass.png' : item?.license_image" />
          <img *ngIf="item?.visitor_type == '2'" [src]="(item?.license_image == null) ? 'assets/imgs/delivery.jpg' : item?.license_image" />
        </ion-col>
      </ion-row>
      <ion-row class="highlight" style="margin-top: 0;">
        <ion-col size="12" class="ion-padding">
          <h2 class="ion-text-uppercase">{{item?.event_name}}</h2>
        </ion-col>
        <ion-col size="6">

            <ion-item lines="none" color="highlight">
              <ion-label>
                <h2 class="ion-text-uppercase">Starts</h2>
                <p class="ion-text-uppercase">{{item?.to_date  }} </p>
                <p class="ion-text-uppercase">{{item?.to_date_time  }} </p>
              </ion-label>
              <ion-icon slot="end" name="alarm-outline"></ion-icon>
            </ion-item>

        </ion-col>
        <ion-col size="6">
            <ion-item lines="none" color="highlight">
              <ion-label>
                <h2 class="ion-text-uppercase">Expires</h2>
                <p  class="ion-text-uppercase">{{item?.for_date  }} </p>
                <p  class="ion-text-uppercase">{{item?.for_date_time  }} </p>
              </ion-label>
              <ion-icon slot="end" name="alarm-outline"></ion-icon>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="moredetails">
      <ion-row >
        <ion-col size="12" class="ion-text-wrap">
          <h4 class="ion-text-uppercase">Sender Info</h4>
        </ion-col>

        <ion-col size="12" class="ion-text-wrap">
          <ion-item class="ion-no-padding" (click)="item?.contact_id != 0 ? addToContact(item) : null">
            <ion-label class="ion-text-uppercase">
              <h2>Sender Name</h2> <p><strong>{{item?.sender}}</strong></p>
            </ion-label>
            <ion-icon *ngIf="item?.contact_id != 0" name="person-add-outline"></ion-icon>
          </ion-item>


        </ion-col>
        <ion-col size="12" class="ion-text-wrap">
          <ion-item class="ion-no-padding" (click)="callMe(item?.phone)">
            <ion-label class="ion-text-uppercase">
              <h2>Sender Phone # </h2> <p><strong *ngIf="item?.phone" [innerHtml]="utility.onkeyupFormatPhoneNumberRuntime(item?.phone)"></strong></p>
            </ion-label>
            <ion-icon name="call-outline"></ion-icon>
          </ion-item>

        </ion-col>
        <ion-col size="12" class="ion-text-wrap">

          <ion-item class="ion-no-padding" (click)="getDirection(item?.description)">
            <ion-label class="ion-text-uppercase">
              <h2>Community Name  </h2>
              <p><strong [innerHtml]="item?.community"></strong></p>
              <p>{{item?.description}}</p>
            </ion-label>
            <ion-icon name="map-outline"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col size="12" class="ion-text-wrap">
          <ion-label class="ion-text-uppercase" class="yellow-backg" shape="round">
            <strong *ngIf="item?.visitor_type != 2">Family / Friend</strong>
            <strong *ngIf="item?.visitor_type == 2">Vendor / Delivery</strong>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="ion-text-wrap">


          <ion-item class="ion-no-padding" (click)="setPassVehicles()">
            <ion-label class="ion-text-uppercase">
              <h2>Vehicle #  </h2>
              <p>{{vehicle?.licence_plate}}</p>
              <p>{{vehicle?.make}} {{vehicle?.model}} {{vehicle?.year}} {{vehicle?.color}}</p>
              <p></p>
            </ion-label>
            <ion-icon name="create-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-right">
          <p>Please use the QR code below for scanning and verification</p>
            <ngx-qrcode size="200" [elementType]="'url'" [value]="item?.qrcode"></ngx-qrcode>
        </ion-col>
        <ion-col size="12">
          <ion-button shape="round" expand="block" color="primary" class="ion-text-uppercase" *ngIf="item != null" (click)="addareminder(item)">
            Add To Calendar
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-content>
 -->