.yellow-background {
  background: yellow;
}
ion-header {
  background: #0a1f42 !important;
  .searchbar-ios {
    min-height: 45px;
  }
  .sorting {
    ion-item {
      background: none !important;
      border-bottom: 1px solid #355273 !important;
      padding: 0px;
      ion-label {
        padding-left: 0px;
      }
    }
  }
}
ion-content {
  background: #030b17 !important;
  .dt1 {
    display: block;
    line-height: 1.5em;
    font-size: 16px;
    margin-top: 10px;
  }
  .clo1 {
    font-size: 2.5rem;
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .tm1 {
    font-size: 2.5rem;
    display: table;
  }
  .openpass {
    background: #fff;
    // padding: 8px;

    .highlight {
      background: #6a87bc;
      color: #fff;
      padding: 10px 10px;
      margin: 8px -15px;
      width: calc(100% + 30px);
      label {
        padding: 12px 10px;
        display: flex;
        span {
          display: block;
        }
      }
      ion-col.right {
        text-align: right;
        label {
          display: block;
          float: left;
        }
        ion-icon {
          float: right;
        }
      }

    }
    ion-grid.moredetails {
      ion-col {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -webkit-box-flex: auto;
        -webkit-flex-grow: auto;
        -ms-flex-positive: auto;
        .col-6 {
          float: left;
          width: 50%;
          ion-label {
            white-space: normal;
            margin-bottom: 20px;
            strong {
              display: block;
            }
            button {
              background: #c03636;
              border-radius: 10px;
              // color: #fff;
              padding: 4px 20px;
              margin-top: 20px;
            }
          }
        }
        ion-thumbnail {
          // width: 30%;
          float: right;
        }
        ngx-qrcode img {
          width: 200px;
        }
        h4 {
          border-bottom: 1px solid #ccc;
        }
      }
    }
    ion-grid.moredetails:after {
      content: "";
      display: block;
      clear: both;
    }
    ion-grid.moredetails ion-col:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .openpass:after {
    clear: both;
    content: "";
    display: block;
  }
}

.opacity-0{
  opacity: 0;
}

.opacity-1{
  opacity: 1;
}
