
<ion-content color="primary" class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-icon class="large-icon greenicon" color="success" name="checkmark-circle"></ion-icon>
        <h2>{{heading1}}</h2>
        <ion-button shape="round" expand="block" color="light" class="ion-text-uppercase" (click)="dashboardopen()">
          {{Start}} </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
