<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vehicles ({{this.plist.length}})</ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!loading">
        <ion-spinner></ion-spinner>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #searchbar [(ngModel)]="search_value"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-item *ngFor="let item of plist | filter: search_value" style="height: 62px;"
      [ngClass]="{'selected-item': selected_item_id == item.id }" (click)="setVehicleToPass(item)">
      <ion-label>

        <h2>{{item.license_plate | uppercase}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p>{{item.year}} {{item.color | titlecase }} {{item.make}} {{item.model}} </p>

      </ion-label>
      <ion-button (click)="presentPopover($event, item)" fill="clear" slot="end">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" class="fab-btn-c" style="z-index: 999900;">
  <ion-fab-button (click)="plusHeaderButton()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Vehicle</label>
</ion-fab>