<ion-header class="ion-no-padding">
  <ion-toolbar color="primary" class="ion-no-padding">
    <ion-searchbar #searchbar (ionCancel)="reset()" [(ngModel)]="search" [showCancelButton]="true" (input)="filter($event)" (search)="filter($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding">

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of plist">
      <ion-label>
        <h2>{{item.contact_name}} <ion-icon name="star" *ngIf="item.new"></ion-icon></h2>
        <p [innerHtml]="item.formatted_phone_number"></p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.checked" ></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
