<ion-header>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="c_selection" (ionChange)="segmentChanged(c_selection)">
      <ion-segment-button value="archieve">
        Received
      </ion-segment-button>
      <ion-segment-button value="sent">
        Sent
      </ion-segment-button>
      <ion-segment-button value="scanned">
        Scanned
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<div class="c-scroll-outer" *ngIf="filter == 'ename' || filter == 'sname' || filter == 'scommunity'">
  <div class="c-scroll-inner-1">
    <div class="c-scroll-inner-2" [class.active]="alp.enable" *ngFor="let alp of alphalist"
      (click)="filterByAlpha(alp, filter )">{{alp.alpha}} </div>
  </div>
</div>

<div class="c-scroll-outer" *ngIf="filter == 'sdate' ">
  <div class="c-scroll-inner-1" [style.width.px]="dcount">
    <div class="c-scroll-inner-2 dates" [style.width.px]="60" [class.active]="alp.enable" *ngFor="let alp of datelist"
      (click)="filterByDate(alp, filter )">{{alp.pass_start_month}}<br>{{alp.pass_start_day}} </div>
  </div>
</div>
<ion-content color="primary">

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="plist?.length > 0" class="passes_list">
    <app-pass-item *ngFor="let item of plist; let i = index" [item]="item" [page]="'archieve'"
      (removePass)="deletePass($event)" (editPass)="editDirections($event)" (openDirection)="getDirection($event)"
      (showHistory)="showGuestLogs($event, 'qrcode')" (showCheckbox)="showCheckbox($event)"
      (showGuestLogs)="showGuestLogs($event)" (openPass)="passDetails($event)"></app-pass-item>
    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'No Records Found'"></app-emptyview>
</ion-content>