<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!loading"><ion-spinner></ion-spinner></ion-button>
      <ion-button (click)="updateFlags()">Save</ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="primary" class="ion-padding ion-text-center">


  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-icon name="settings" class="greenicon"></ion-icon>
      </ion-col>
      <ion-col size="12">
        <ion-list class="no-background">
          <form [formGroup]="aForm">
            <ion-item class="ion-text-wrap" color="primary">
              <ion-label>
                <p>Enable Push Notifications<p>
              </ion-label>
              <ion-toggle formControlName="push_notification" color="success"></ion-toggle>
            </ion-item >
            <ion-item class="ion-text-wrap" color="primary">
              <ion-label>
                <p>Enable EMAIL Notifications<p>
              </ion-label>
              <ion-toggle formControlName="email_notification" color="success"></ion-toggle>
            </ion-item>
            <ion-item class="ion-text-wrap" color="primary">
              <ion-label>
                <p>Enable Vacation Mode<p>
              </ion-label>
              <ion-toggle formControlName="vacation_mode" color="success"></ion-toggle>
            </ion-item>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
