

<ion-content>
  <ion-header mode="ios">
    <ion-toolbar color="primary" dir="{{dir}}">
        <img src="assets/imgs/logo_tutorial.png" class="logo-tutorial" />
    </ion-toolbar>

  </ion-header>
    <ion-button size="small" color="secondary" class="skiptour" shape="round" (click)="signup()">Skip Tour</ion-button>
    <ion-slides #slides pager="false" dir="{{dir}}">
        <ion-slide *ngFor="let item of dataArray">
            <app-tutorial-cards [heading]="item.heading" [subheading]="item.subheading" [image]="item.image"></app-tutorial-cards>
        </ion-slide>
    </ion-slides>
    <!-- <ion-footer class=""> -->
      <ion-grid class="footer-pos">
          <ion-button shape="round" expand="block" (click)="goToNextSlide()" color="primary"> Continue</ion-button>
          <ion-button fill="clear" expand="block" class="alreadysign text-transform-non" color="primary" (click)="this.openLoginPage()">Already a Member? Sign In</ion-button>
      </ion-grid>
  <!-- </ion-footer> -->
</ion-content>

