ion-toolbar {
    text-align: center;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.logo-tutorial {
    height: 45px !important;
}

.skiptour {
    position: absolute;
    right: 10px;
    z-index: 1000;
    top: 50px;
}

.footer-md::before{
  content: unset
}

.footer-pos {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 55;
}
