<form [formGroup]="aForm">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-icon class="large-icon" name="document"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="text" formControlName="street_address" placeholder="Street Address"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.street_address.valid && aForm.controls.street_address.dirty">please fill the field ...</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="text" formControlName="apartment" placeholder="Apartment. #"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.apartment.valid && aForm.controls.apartment.dirty">please fill the field ...</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.city.valid && aForm.controls.city.dirty">please fill the field ...</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-select *ngIf="dial_code.dial_code == '+1'" class="m-select" formControlName="state" [placeholder]="'State'">
            <ion-select-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</ion-select-option>
          </ion-select>
          <ion-input *ngIf="dial_code.dial_code != '+1'"  type="text" formControlName="state" placeholder="State"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.city.valid && aForm.controls.city.dirty">please fill the field ...</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-input type="tel" formControlName="zip_code" (keyup)="onZipCodeKeyUp($event)" placeholder="Zip Code">
          </ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.zip_code.valid && aForm.controls.zip_code.dirty">only numbers allowed</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
