<ion-header color="primary">
  <ion-toolbar color="primary" *ngIf="search_on == false">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ item?.event_name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="item">
        <ion-spinner color="light"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" *ngIf="search_on == true">
    <ion-searchbar #searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item *ngFor="let item of items | filter: searchTerm" style="height: 62px;">
      <ion-label>
        <h2>{{item?.fullName}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item?.formattedPhone"></p>
      </ion-label>


      <ion-button fill="clear" slot="end" (click)="showConfirm(item)">
        <ion-icon name="close"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" class="fab-btn-c">
    <ion-fab-button (click)="plusHeaderButton()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>