<ion-content fullscreen="true">

  <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-col size="12" class="ion-text-center ion-padding">
    <ion-grid class="signup_back ion-margin">
      <div class="signup_email email_sign clearfix">
        <div class="signup-drop" (click)="hideForm = !hideForm">
          <div class="se-left">
            <div class="se-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>
            <div class="se-email">
              SIGNUP <span>WITH PHONE NUMBER</span>
            </div>
          </div>
          <div class="se-right">
            <div class="se-arrow">
              <ion-icon *ngIf="!hideForm" name="chevron-up-outline"></ion-icon>
              <ion-icon *ngIf="hideForm" name="chevron-down-outline"></ion-icon>
            </div>
          </div>
        </div>

        <form [formGroup]="aForm" [hidden]="hideForm">

          <ion-item class="form_input">
            <ion-input type="text" formControlName="name" name="name" placeholder="Full Name"></ion-input>
            <ion-label>
              <ion-icon *ngIf="!aForm.controls.name.valid  && ( aForm.controls.name.dirty || submitAttempt )"
                color="secondary" name="close-circle"></ion-icon>
              <!-- <ion-icon name="person"></ion-icon> -->
            </ion-label>
          </ion-item>

          <ion-item class="form_input">
            <ion-input type="tel" formControlName="phone_number" placeholder="Phone Number"
              (input)="onTelephoneChange($event, $event.target.value)"></ion-input>
            <ion-label>
              <ion-icon
                *ngIf="!aForm.controls.phone_number.valid  && ( aForm.controls.phone_number.dirty || submitAttempt )"
                color="secondary" name="close-circle"></ion-icon>
              <!-- <ion-icon name="person"></ion-icon> -->
            </ion-label>
          </ion-item>
          <ion-item class="form_input">
            <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            <ion-label>
              <ion-icon *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )"
                color="secondary" name="close-circle"></ion-icon>
              <!-- <ion-icon name="person"></ion-icon> -->
            </ion-label>
          </ion-item>

          <ion-item class="form_input">
            <ion-input type="password" formControlName="password_confirm" placeholder="Confirm Password"></ion-input>
            <ion-label>
              <ion-icon
                *ngIf="!aForm.controls.password_confirm.valid  && ( aForm.controls.password.dirty || submitAttempt )"
                color="secondary" name="close-circle"></ion-icon>
              <!-- <ion-icon name="person"></ion-icon> -->
            </ion-label>
          </ion-item>
          <!-- [disabled]="!aForm.controls.name.valid || !aForm.controls.email.valid || !aForm.controls.password.valid || !aForm.controls.password_confirm.valid" -->
          <div class="ion-padding">
            <div *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">Your
              password must be more than 9 characters long, should contain at-least 1 Uppercase, 1 Lowercase, 1 Numeric
              and 1 special character.</div>
            <ion-button shape="round" expand="full" color="primary" (click)="singUp()"> Finish &nbsp;&nbsp; <ion-icon
                name="exit-outline"></ion-icon>
            </ion-button>
          </div>

        </form>
      </div>

    </ion-grid>
  </ion-col>


</ion-content>
<ion-footer color="primary">
  <ion-button class="signup-btn text-transform-non ion-no-padding ion-no-margin" expand="full" color="primary" (click)="login()">
    <small>Already a Member? &nbsp;&nbsp; <strong> Click Here To Login</strong></small>
  </ion-button>
  <!-- <img src="assets/imgs/background.png"/> -->
</ion-footer>
