.top-row {
    ion-searchbar {
        --box-shadow: none !important;
    }
}


ion-refresher-content {
  padding-bottom: 100px;
  background-color: var(--ion-color-primary);
  color: #fff;
}

ion-footer {
  .dflex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  ion-button {
    width: 100% !important;
    margin: 0 !important;
    //   float: left !important;

    align-items: center;
    height: auto !important;
    padding: 20px 0px !important;
    background: #204d89 !important;
    border: 1px solid #3e5d8b !important;
    box-shadow: 1px 1px 3px #0b2347;
    color: #fff;

    .button-inner {
      display: block;
    }

    ion-badge {
      position: absolute;
      z-index: 999;
      background: #e1372f !important;
      height: 20px;
      width: 20px;
      padding: 5px 0px 0px;
      font-size: 1.1rem;
    }

    ion-icon {
      display: block;
      font-size: 2.8em;
    }

    ion-label {
      display: block;
      font-size: 0.7em;
    }
  }
}

.tablike.active {
}

.tablike.active:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  text-outline: 0px;
  background: green;
  top: 4px;
  border-radius: 50%;
  right: 5px;
}

