
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [hidden]="type == 'archieve'">{{title}} Passes</ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!loading">
        <ion-spinner color="light"></ion-spinner>
      </ion-button>
      <ion-segment [(ngModel)]="c_selection" (ionChange)="segmentChanged(c_selection)" [hidden]="type != 'archieve'">
        <ion-segment-button value="c_archieve">
          Received
        </ion-segment-button>
        <ion-segment-button value="c_sent">
          Sent
        </ion-segment-button>
        <ion-segment-button value="c_scanned">
          Scanned
        </ion-segment-button>
      </ion-segment>

    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary" [hidden]="type != 'archieve'">
    <ion-segment [(ngModel)]="c_selection" (ionChange)="segmentChanged(c_selection)">
      <ion-segment-button value="c_archieve">
        Received
      </ion-segment-button>
      <ion-segment-button value="c_sent">
        Sent
      </ion-segment-button>
      <ion-segment-button value="c_scanned">
        Scanned
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
  <ion-toolbar color="primary">
    <ion-grid class="nopad">
      <ion-row class="top-row">
        <ion-col size="8" class="nopad">
          <ion-searchbar color="primary" [(ngModel)]="searchTerm" (ionChange)="searchItems($event)" (ionClear)="doRefresh()">
          </ion-searchbar>
        </ion-col>
        <ion-col size="4" class="nopad">
          <!-- <ion-list class="sorting">
            <ion-item> -->
              <ion-select [(ngModel)]="filter" (ionChange)="onFilterChange()" placeholder="Sort">
                <ion-select-option value="ename">Event Name</ion-select-option>
                <ion-select-option value="sname">Sender's Last Name</ion-select-option>
                <ion-select-option value="sdate">Date</ion-select-option>
                <ion-select-option value="scommunity">Community</ion-select-option>
              </ion-select>
            <!-- </ion-item>
          </ion-list> -->
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>

</ion-header>
<div class="c-scroll-outer" *ngIf="filter == 'ename' || filter == 'sname' || filter == 'scommunity'">
  <div class="c-scroll-inner-1">
    <div class="c-scroll-inner-2" [class.active]="alp.enable" *ngFor="let alp of alphalist"
      (click)="filterByAlpha(alp, filter )">{{alp.alpha}} </div>
  </div>
</div>

<div class="c-scroll-outer" *ngIf="filter == 'sdate' ">
  <div class="c-scroll-inner-1" [style.width.px]="dcount">
    <div class="c-scroll-inner-2 dates" [style.width.px]="60" [class.active]="alp.enable" *ngFor="let alp of datelist"
      (click)="filterByDate(alp, filter )">{{alp.pass_start_month}}<br>{{alp.pass_start_day}} </div>
  </div>
</div>
<ion-content color="primary">

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" color="primary">
    <ion-refresher-content color="light"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="plist?.length > 0" class="passes_list">

    <app-pass-item *ngFor="let item of plist; let i = index" [item]="item" [page]="type" [selection]="c_selection"
      [seeingOthersPass]="seeingOthersPass" (openPass)="passDetails($event)" (openDirection)="getDirection($event)"
      (removePass)="deletePass($event)" (editPass)="type == 'archieve' ? editDirections($event) : editPass($event) "
      (showHistory)="showGuestLogs($event, 'qrcode')" (showCheckbox)="showRecepients($event)"
      (showGuestLogs)="showGuestLogs($event)"

      >
    </app-pass-item>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'No Records Found'"></app-emptyview>

  <!-- <ion-tabs #tabs>
    <ion-tab-bar color="primary" slot="bottom">
      <ion-tab-button [tab]="tab1Root">
        <ion-icon name="at-outline"></ion-icon>
        <ion-label>Active</ion-label>
      </ion-tab-button>

      <ion-tab-button [tab]="tab2Root">
        <ion-icon name="bag-check-outline"></ion-icon>
        <ion-label>Archive</ion-label>
      </ion-tab-button>

      <ion-tab-button [tab]="tab3Root">
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-label>Sent</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs> -->

</ion-content>
<ion-footer>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="4" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="updateTypeInitialize('active')">
          <div class="dflex tablike" [class.active]="type == 'active'">
            <ion-icon name="at-outline"></ion-icon>
            <label>Active</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="updateTypeInitialize('archieve')">
          <div class="dflex tablike" [class.active]="type == 'archieve'">
            <ion-icon name="bag-check-outline"></ion-icon>
            <label>Archive</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="updateTypeInitialize('sent')">
          <div class="dflex tablike" [class.active]="type == 'sent'">
            <ion-icon name="arrow-redo-outline"></ion-icon>
            <label>Sent</label>
          </div>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-footer>
