<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Request a Pass</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      <app-wizard [step]="step" [hidden]="step == 3" (goStep)="goStep($event)"></app-wizard>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" #slides>

    <ion-slide class="box-slides">
      <app-choice-options class="box-wh"></app-choice-options>
    </ion-slide>

    <ion-slide class="box-slides">
      <app-contact-options class="box-wh" [fromContacts]="fromContacts" [contacts]="contacts"
        (selectedContact)="selectedContact($event)"></app-contact-options>
    </ion-slide>

    <ion-slide class="box-slides">
      <app-comment-options class="box-wh"></app-comment-options>
    </ion-slide>
    <ion-slide class="box-slides">
      <app-request-success class="box-wh"
        [heading1]="'Pass request has been sent. You will be notified once a pass has been issued'" [Start]="'Finish'">
      </app-request-success>
    </ion-slide>

  </ion-slides>
</ion-content>
