<ion-content>
  <div>
    <h2>{{item.announcement.title}}</h2>
    <div [innerHTML]="item.announcement.description"></div>
  </div>


  <ion-footer class="footer">
    <ion-item class="ion-text-wrap">
      <ion-label>I have read the announcement</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="item.status" (ionChange)=" item.status = 1;"
        checked="{{ (item.status == 1) ? true : false}}" [disabled]="item.status == 1"></ion-checkbox>
    </ion-item>
    <ion-button expand="full" (click)="emit(item)"
      [disabled]="item.announcement.is_must_read == '1' && item.status == 0 ">
      Close
    </ion-button>
  </ion-footer>


</ion-content>