<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="close({data: 'A'});">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of plist | filter: search" [ngClass]="{'selected-item': selected_item_id == item.id }"
      (click)="setPassEvent(item)">
      <ion-label>
        <h2>{{item.name}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <!-- <p [innerHtml]="item.event_description"></p> -->
      </ion-label>
      <ion-button (click)="presentPopover($event, item)" fill="clear" slot="end" size="small">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>





</ion-content>

<ion-fab vertical="bottom" horizontal="end" class="fab-btn-c" style="z-index: 999900;">
  <ion-fab-button (click)="plusHeaderButton($event, null)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Event</label>
</ion-fab>