<ion-header>
  <ion-toolbar color="primary" *ngIf="search_on == false">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Favorites ({{this.storedcontacts.fav_contacts?.length}})</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #searchbar (ionClear)="resetSearch()" (ionCancel)="search_on = false; resetSearch()"
      [(ngModel)]="search_value" [showCancelButton]="false" (input)="filterGlobal($event)"
      (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of storedcontacts.fav_contacts" (click)="presentPopover($event, item)">
      <!-- <ion-avatar slot="start">
        <img [src]="users.avatar">
      </ion-avatar> -->
      <ion-label>
        <h2>{{item.contact_name}}
          <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item.formatted_phone_number"></p>
      </ion-label>
      <!-- <ion-button fill="clear" slot="end"> -->
      <ion-icon name="options"></ion-icon>
      <!-- </ion-button> -->
      <!-- </span> -->
    </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreContacts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
  <ion-fab-button color="primary" (click)="plusHeaderButton('FC')">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Favorites</label>

</ion-fab>