.slide-description {
    font-size: 14px;
    opacity: 0.8;
    text-transform: unset;
    text-align: justify;
}

.slide-image {
    height: 35vh;
    max-width: 100%;
    margin: 0px 0;
}

.b0-cards {
    box-shadow: none !important;
    border: none;
}