<ion-card class="ion-no-shadow b0-cards">
    <ion-card-header>
        <ion-card-title [innerHTML]="heading"></ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <img src="{{image}}" class="slide-image" />
        <ion-card-subtitle class="slide-description" [innerHTML]="subheading"></ion-card-subtitle>
    </ion-card-content>
</ion-card>