<ion-tabs #tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button [tab]="tab1Root">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tab2Root">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tab3Root">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
