<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="filter"></ion-searchbar>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">


  <ion-list>
      <ion-item *ngFor="let item of contacts | filter:filter " (click)="getSelected(item)">
        <ion-label>
          <h2>{{item.contact_name}} <ion-icon name="star" *ngIf="item.new"></ion-icon></h2>
          <p [innerHtml]="item.formatted_phone_number"></p>
        </ion-label>
        <ion-radio [value]="item.checked"></ion-radio>
      </ion-item>
  </ion-list>

</ion-content>
