<ion-grid class="ion-padding center-dflex-white" >
    <ion-row class="ion-justify-content-center ion-align-items-center ion-padding">
        <ion-col size="12">
          <ion-card color="primary">
            <ion-icon class="large-icon" color="success" name="checkmark-circle"></ion-icon>
            <h2>{{heading1}}</h2>
            <ion-button shape="round" expand="block" color="light" class="ion-text-uppercase" (click)="dashboardopen()">{{start}} </ion-button>
          </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
