.scroll-content {
    overflow: hidden;
}

ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mdiv {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
}