<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Groups ({{this.plist.length}})</ion-title>
    <!-- <ion-buttons slot="end">
        <ion-button (click)="setFocusOnSearch()">
            <ion-icon name="search"></ion-icon>
        </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar #searchbar (ionCancel)="reset()" [showCancelButton]="false" (ionChange)="filter($event)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of plist" (click)="showGroupCOntacts(item)">
      <ion-label>
        <h2>{{item.group_name}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item.description"></p>
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
  <ion-fab-button color="primary" (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Group</label>
</ion-fab>