<ion-header>
    <!-- <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="openLogUsers($event)">
          <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->
</ion-header>
<ion-content>

    <div class="logo">
        <img src="assets/imgs/logo_dark_tutorial.png" />
    </div>

    <ion-list class="ion-text-center ion-margin">

        <form [formGroup]="aForm" class="transparent-bg">

            <ion-item class="transparent-bg">
                <ion-label class="text-transform-non" position="stacked">Phone Number</ion-label>
                <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="Phone Number" (input)="onTelephoneChange($event)"></ion-input>
                <ion-icon class="phone-icon" name="call-outline" color="primary" slot="end"></ion-icon>
            </ion-item>

            <ion-item *ngIf="!aForm.controls.phone_number.valid  && ( aForm.controls.phone_number.dirty || submitAttempt )">
                <ion-badge>invalid phone number</ion-badge>
            </ion-item>

            <ion-item>
                <ion-label class="text-transform-non" position="stacked">Passwords</ion-label>
                <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
                <ion-icon class="lock-icon" name="lock-closed-outline" color="primary" slot="end"></ion-icon>
            </ion-item>

            <ion-item *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
                <ion-badge>invalid password</ion-badge>
            </ion-item>

            <div class="ion-padding">
                <ion-button shape="round" expand="full" color="primary" type="submit" (click)="login()">Sign In</ion-button>
                <ion-button class="text-transform-non" (click)="signup()" fill="clear" color="primary" expand="full"> Not a Member? &nbsp;&nbsp;<strong class="createaccount">Create Account</strong></ion-button>
                <ion-button class="createaccount text-transform-non" fill="clear" color="primary" expand="full" (click)="forgetpassword()">Forgot Password? Click Here</ion-button>
            </div>

        </form>

    </ion-list>


</ion-content>
<ion-footer>
    <!-- <img src="assets/imgs/background.png" /> -->
</ion-footer>
