<ion-header>
  <ion-toolbar color="primary">
    

   
  </ion-toolbar>
</ion-header>
<ion-content color="primary" class="ion-padding ion-text-center" > <!-- [hidden]="(!new)" -->

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
      <img src="assets/imgs/logo-white.png" />
      <h2>Welcome To <strong>Zuul</strong></h2>
      <p>Please complete the next set of screens to create your profile. Click the button below to begin.</p>
      <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
      <ion-button shape="round" expand="block" class="ion-text-uppercase" color="light"
        (click)="closeModal()">Begin
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>