<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contacts ({{this.plist.length}})</ion-title>
    <!-- <ion-buttons slot="end">
        <ion-button (click)="setFocusOnSearch()">
            <ion-icon name="search"></ion-icon>
        </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar #searchbar (ionClear)="reset()" (ionCancel)="reset()" [showCancelButton]="false"
      (ionChange)="filter($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of plist">
      <ion-label>
        <h2>{{item.contact_name}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item.formatted_phone_number"></p>
      </ion-label>
      <ion-icon color="primary" slot="end" (click)="presentPopover($event, item)" name="options"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Contact</label>
  <ion-fab-list side="top">
    <ion-fab-button class="fab-c-padding-for-image" (click)="synContacts()"><img src="assets/imgs/phonebook.png">
    </ion-fab-button>
    <ion-fab-button class="" (click)="add()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-button class="" (click)="syncContactsFromApi()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button> -->
  </ion-fab-list>
</ion-fab>