<ion-app>
    <!--  the side menu  -->
    <!-- <ion-menu menuId="main" contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item [hidden]="user_role_id == 9" (click)="openPage(pages[0])" *ngIf="canBeResident" [disabled]="isEmailVerificationPending" >
            Become Resident
          </ion-item>
          <ion-item [hidden]="user_role_id == 9" (click)="openPage(pages[1])" *ngIf="!canBeResident">
            Manage Household
          </ion-item>
          <ion-item (click)="openPage(pages[2])" *ngIf="canShowSettings">
            Settings
          </ion-item>
          <ion-item [hidden]="user_role_id == 9" (click)="openPage(pages[3])">
            Edit Profile
          </ion-item>
          <ion-item (click)="openPage(pages[7])">
            Manage Vehicles
          </ion-item>
          <ion-item menuClose ion-item (click)="openPage(pages[4])">
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu> -->

    <!-- the main content -->

  <ion-router-outlet></ion-router-outlet>
</ion-app>
