<div class="wizard">
  <ul>
    <li [class.active]="step == 0" [class.disabled]="step != 0" (click)="goStep.emit(0)">
      <button>1</button>
    </li>
    <li [class.active]="step == 1" [class.disabled]="step != 1" (click)="goStep.emit(1)">
      <button>2</button>
    </li>
    <li [class.active]="step == 2" [class.disabled]="step != 2" (click)="goStep.emit(2)">
      <button>3</button>
    </li>
  </ul>
</div>
