.detail {
    // --background: #6495edd4;
    --border-radius: 15px;
    // color: white;
    margin-inline: 15px;
    margin-block: 15px;
    width: 350px;
    margin: 0 auto;

    ion-icon {
        font-size: 1.9rem;
    }

    p {
        color: white;
    }
}

.req-options{

}




