<ion-content class="ion-no-bounce ion-padding">

  <ion-list class="req-options">

    <ion-item lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <h2>REQUEST A PASS FROM ONE OF THE FOLLOWING</h2>
      </ion-label>
    </ion-item>
    <div style="width: 100%;height: 30px"></div>

    <ion-item lines="none" color="tertiary" class="detail ion-text-wrap" (click)="selectFromExicting(true)">
      <ion-avatar><ion-icon name="person"></ion-icon></ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>EXISTING CONTACTS</h2>
        <p>Select From Your Uploaded list of ZUUL Contact List<br></p>
      </ion-label>
    </ion-item>
    <div style="width: 100%;height: 30px"></div>
    <ion-item lines="none" color="tertiary" class="detail ion-text-wrap" (click)="selectFromExicting(false)">
      <ion-avatar><ion-icon name="create"></ion-icon></ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>NEW CONTACT</h2>
        <p>Add a New Contact By Entering That Individual’s Full Name And Phone Number</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
