<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Edit Permissions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center" color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-icon style="font-size: 7.5rem;" class="large-icon" color="success" name="settings"></ion-icon>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item color="primary" class="ion-text-wrap">
            <ion-label class="ion-text-wrap">
              <p style="text-transform: capitalize;">
                Can Manage Family
              <p>
            </ion-label>
            <ion-toggle (ionChange)="updatePermissions('can_manage_family')" [(ngModel)]="can_manage_family"
              color="success">
            </ion-toggle>
          </ion-item>
          <ion-item color="primary" class="ion-text-wrap">
            <ion-label class="ion-text-wrap">
              <p style="text-transform: capitalize;">
                Can Send Passes
              <p>
            </ion-label>
            <ion-toggle (ionChange)="updatePermissions('can_send_passes')" [(ngModel)]="can_send_passes"
              color="success"></ion-toggle>
          </ion-item>
          <ion-item color="primary" class="ion-text-wrap">
            <ion-label class="ion-text-wrap">
              <p style="text-transform: capitalize;">
                Allow Parental Control
              <p>
            </ion-label>
            <ion-toggle (ionChange)="updatePermissions('allow_parental_control')"
              [(ngModel)]="allow_parental_control" color="success">
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- <button ion-button round round block text-uppercase color="white" class="top-back-fix" (click)="dashboardopen()">SAVE </button> -->
    </ion-row>
  </ion-grid>

</ion-content>