<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Create a Pass</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button [hidden]="item">
        <ion-spinner color="light"></ion-spinner>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      <app-wizard [step]="step" (goStep)="goStep($event)"></app-wizard>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <!-- <form [formGroup]="aForm"> -->
  <ion-slides #slides>
    <ion-slide class="box-slides">
      <app-passform class="box-wh" [item]="item" ></app-passform>
    </ion-slide>
    <ion-slide class="box-slides">
      <app-contacts class="box-wh"></app-contacts>
    </ion-slide>
    <ion-slide class="box-slides">
      <app-calendar class="box-wh"></app-calendar>
    </ion-slide>


  </ion-slides>
  <!-- </form> -->
</ion-content>
<ion-footer class="ion-padding">
  <ion-button color="primary" expand="block" shape="round" (click)="goToNextSlide(slides)">
    {{ step == 2 ? 'Finish' : 'Next' }}
  </ion-button>
</ion-footer>
