<ion-header>

  <ion-toolbar>
    <ion-title>Event</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">

  <ion-list>

    <form [formGroup]="aForm">

      <ion-item>
        <ion-label position="stacked">
          Event Name
        </ion-label>
        <ion-input type="text" formControlName="name" id="name" placeholder=""></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.name.valid  && ( aForm.controls.name.dirty || submitAttempt )">
        <ion-badge>Invalid Event Name...</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Description
        </ion-label>
        <ion-input type="text" formControlName="description" id="description" placeholder=""></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.description.valid  && ( aForm.controls.description.dirty || submitAttempt )">
        <ion-badge>Invalid Description...</ion-badge>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!aForm.controls.name.valid" shape="round" color="primary" expand="block" type="submit"
          (click)="event ? update() : create()">{{event ? 'Update': 'Create'}}</ion-button>
      </div>

    </form>

  </ion-list>

</ion-content>