<ion-list *ngIf="page == 'active'">
  <ion-item (click)="close('D')">Pass Details</ion-item>
  <ion-item (click)="close('M')">Get Directions</ion-item>
</ion-list>

<ion-list *ngIf="page == 'archieve' && type == 'c_archieve'">
  <ion-item (click)="close('D')">Pass Details</ion-item>
  <ion-item (click)="close('M')">Get Directions</ion-item>
</ion-list>

<ion-list *ngIf="page == 'archieve' && type == 'c_sent'">
  <ion-item [disabled]="seeingOthersPass" (click)="close('R')">Recipient(s)</ion-item>
  <ion-item [disabled]="seeingOthersPass" (click)="close('T')">Retract Pass</ion-item>
  <ion-item [disabled]="seeingOthersPass" (click)="close('H')">Show Scan Log</ion-item>
</ion-list>

<ion-list *ngIf="page == 'archieve' && type == 'c_scanned'">
  <ion-item (click)="close('D')">Pass Details</ion-item>
</ion-list>

<ion-list *ngIf="page == 'sent'">
  <ion-item [disabled]="seeingOthersPass" (click)="close('R')">Recipient(s)</ion-item>
  <ion-item [disabled]="seeingOthersPass" (click)="close('E')">Edit Pass</ion-item>
  <ion-item [disabled]="seeingOthersPass" (click)="close('T')">Retract Pass</ion-item>
  <ion-item [disabled]="seeingOthersPass" (click)="close('H')">Show Scan Log</ion-item>
</ion-list>