<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Announcements</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" [disabled]="getNotified">
        Skip All
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content class="no-bounce">

  <ion-slides #slides [pager]="false">

    <ion-slide *ngFor="let item of plist; let i = index">

      <app-announcments-item  style="height: 100%;width: 100%;" [item]="item" (annCheck)="annCheck($event)">
      </app-announcments-item>

    </ion-slide>

  </ion-slides>

</ion-content>