<ion-header>
  <ion-toolbar>
      <ion-searchbar [showCancelButton]="false" #searchbar
    (search)="filterGlobal($event, true)" (ionInput)="filterGlobal($event, false)" [(ngModel)]="search_value" (ionCancel)="closeModal({data: 'A'})" showCancelButton="always"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of countries; let i = index " (click)="onSelectCountry(item)">
      <ion-avatar slot="start">
        <img [src]="item.image">
      </ion-avatar>
      <ion-label>
        <h2>{{item.code}}  {{item.dial_code}}</h2>
        <p>{{item.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
