<ion-content class="ion-padding">

  <ion-card class="no-shadow">
    <ion-card-header class="complete-pass">
      <ion-icon name="checkmark-circle"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ heading1 }}</h2>
      <ion-button shape="round" expand="block" class="ion-text-uppercase" color="dark" fill="outline" (click)="addareminder()">
        Add to Calendar
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
