ion-card {
  .bold-heading {
    font-size: 1.2rem !important;
    color: var(--ion-color-primary);
    text-transform: uppercase;
    font-weight: bold !important;
  }

  .qrcode_section {
    background: #e4f5df !important;
    padding-top: 15px;
    // min-height: 130px;
    height: 100%;

    h3 {
      color: #2d8614 !important;
    }



    img {
      margin-top: 10px;
    }
  }
}

.retractpass {
  background: #203e72 !important;
  font-size: 0.9rem;
  padding: 0px 10px;
  width: 100px;
  height: 100%;
  color: #fff;

  ion-icon {
    font-size: 2.4rem;
  }
}

.viewdetails {
  background: #203e72 !important;
  font-size: 1rem;
  padding: 0px 10px;
  width: 100px;
  height: 100%;
  color: #fff;

  ion-icon {
    font-size: 2.4rem;
  }
}

.getdirections {
  background: #ce4343 !important;
  font-size: 1rem;
  padding: 0px 10px;
  width: 100px;
  height: 100%;
  color: #fff;

  ion-icon {
    font-size: 2.4rem;
  }
}

.qrcode_section {
  width: 84px;
  text-align: center;
  padding-top: 5px;
  height: 100%;
  margin: 0;
}

.qrcode_section span {
  width: 100%;
  float: left;
}

.pass-item-button {
  padding: 0 !important;
  margin: 0 !important;
}
ion-card {
  border-radius: 0px !important;
  position: relative;
  margin-bottom: 15px !important;

  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background: #102c5a;
    float: left;
    position: absolute;
    z-index: 999;
    border-radius: 100px;
    left: -17px;
    bottom: 10px;
  }
  &:after {
    content: "";
    width: 30px;
    height: 30px;
    background: #102c5a;
    float: right;
    position: absolute;
    z-index: 999;
    border-radius: 100px;
    right: -17px;
    top: 10px;
  }

  ion-avatar {
    min-width: 50px !important;
    min-height: 50px !important;
    float: left;
    img {
      width: 50px !important;
      height: 50px !important;
      border: 2px solid #15376d;
    }
  }

  span {
    float: left;
    h2 {
      font-size: 1.6rem !important;
      color: var(--ion-color-primary);
      text-transform: uppercase;
      font-weight: bold !important;
    }
    p {
      text-transform: uppercase;
      span {
        color: var(--ion-color-primary) !important;
      }
    }
    .cmty {
      border-left: 1px solid var(--ion-color-primary);
      padding-left: 10px;
      margin-top: 5px;
      text-transform: uppercase;
      line-height: 10px;
      p {
        font-size: 1.2rem;
      }
      span {
        font-size: 1.2rem !important;
        color: var(--ion-color-primary) !important;
        display: contents;
      }
    }
    strong {
      font-size: 1.5rem !important;
      color: #1a8e22 !important;
    }
  }
  .invited-final {
    padding-top: 15px;
    clear: both;
    ion-col {
      white-space: normal;
      p {
        font-size: 1.2rem;
        color: var(--ion-color-primary) !important;
      }
    }
  }

  .option-btn{
    // font-size: 2rem;
    // padding: 10px;

    // width: 84px;
    // height: 84px;
  }

  ion-item {
    .item-inner {
      padding: 0px !important;
      ion-label {
        margin: 0px !important;
        .invt {
          padding: 20px 0px 8px;
        }
        .qrcode_section {
          background: #ccc;
          padding: 20px 10px 8px;
          text-align: center;
          h3 {
            white-space: normal;
            strong {
              font-size: 1.6rem;
              display: block;
            }
          }
          img {
            background: #fff;
            border-radius: 4px;
            padding: 5px;
            max-width: 67px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
