<!-- <ion-item-sliding #item (click)="markasread.emit(itm['id']); itm.status = 1"> -->
  <ion-item class="ion-text-wrap" [ngClass]="{'unread-notification' : itm.is_read == '0'}" (click)="markasread.emit(itm['id']); itm.is_read = '1'">

    <ion-label>
      <h2>{{ itm.heading }}</h2>
      <small>{{ itm.subheading }}</small>
      <p>{{ itm.text }}</p>
      <p>{{ itm.scanDate }}</p>
    </ion-label>

  </ion-item>

  <!-- <ion-item-options side="end">
    <ion-button >
      View
    </ion-button>
  </ion-item-options> -->
<!-- </ion-item-sliding> -->
