<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="close({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Group</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <form [formGroup]="aForm">

      <ion-item>
        <ion-label position="stacked">
          Group Name
        </ion-label>
        <ion-input type="text" formControlName="group_name" id="group_name" placeholder=""></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.group_name.valid  && ( aForm.controls.group_name.dirty || submitAttempt )">
        <ion-badge>Invalid Group Name...</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Description
        </ion-label>
        <ion-input type="text" formControlName="description" id="description" placeholder=""></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.description.valid  && ( aForm.controls.description.dirty || submitAttempt )">
        <ion-badge>Invalid Description...</ion-badge>
      </ion-item>

      <div class="ion-padding">
        <ion-button *ngIf="!it" [disabled]="!aForm.controls.group_name.valid" shape="round" color="primary"
          expand="block" type="submit" (click)="create()">Create</ion-button>
        <ion-button *ngIf="it" [disabled]="!aForm.controls.group_name.valid" shape="round" color="primary"
          expand="block" type="submit" (click)="update()">Update</ion-button>
      </div>

    </form>

  </ion-list>

</ion-content>