/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.text-transform-non{
  text-transform: none !important;
}

.ion-no-shadow{
  box-shadow: 0 !important;
}

.transparent-bg{
  --background: transparent;
  background: transparent;
}

.fab-btn-c .floating-label {
  position: absolute;
  left: -105px;
  bottom: 0;
  transform: translateY(-20%);
  background: lightgray;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px 10px 10px 4px;
  width: 100px;
  text-align: center;
  font-size: 11px;
}

ion-list {
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  ion-item {
    padding-left: 0px !important;
  }
}

.c-scroll-outer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .scroll-item {
    flex: 0 0 auto;
  }
  // --background: var(ion-color-primary);
  // background: var(ion-color-primary);

  .c-scroll-inner-1 {
    height: 50px;
    width: calc(60 * 26px);
    flex: 0 0 auto;

    .c-scroll-inner-2.active {
      background: #203e72;
      color: #fff;
      font-size: 30px;
      padding: 5px;
      position: relative;
    }

    .c-scroll-inner-2.active:before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      text-outline: 0px;
      background: green;
      top: 4px;
      border-radius: 50%;
      right: 5px;
    }

    .c-scroll-inner-2 {
      height: 100%;
      width: 60px;
      float: left;
      display: inline-block;
      height: 100%;
      width: 60px;
      float: left;
      display: inline-block;
      background: #ffffff;
      margin-right: 5px;
      color: #324d7f;
      font-size: 38px;
      font-weight: 700;
      text-align: center;
    }

    .c-scroll-inner-2.dates {
      font-size: 19px;
      word-wrap: break-word;
      padding: 0 5px;
    }
  }
}

.cd-scroll-outer {
  height: 60px;
  width: 100%;
  background-color: white;

  .c-scroll-inner-1 {
    height: 60px;

    .c-scroll-inner-2.active {
      background: #203e72;
      color: #fff;
      font-size: 30px;
      padding: 5px;
      position: relative;
    }

    .c-scroll-inner-2.active:before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      text-outline: 0px;
      background: green;
      top: 4px;
      border-radius: 50%;
      right: 5px;
    }

    .c-scroll-inner-2 {
      height: 100%;
      // width: 60px;
      float: left;
      display: inline-block;
      height: 100%;
      // width: 60px;
      float: left;
      display: inline-block;
      background: #071226;
      margin-right: 5px;
      color: #324d7f;
      font-size: 38px;
      font-weight: 700;
      text-align: center;
    }
  }
}
