<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="menu"></ion-icon>
        <!-- <ion-menu-button menu="main"></ion-menu-button> -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--  -->
      <ion-button [hidden]="!isListLoading">
        <ion-spinner color="light"></ion-spinner>
      </ion-button>
      <ion-button (click)="openLogUsers($event)">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openDoubleBell($event)" [class.red-bg]="isNewNotification">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="isNewNotification" color="secondary"></ion-badge>
      </ion-button>
      <!-- <ion-button (click)="goToVechicle()">
        <ion-icon name="car-outline"></ion-icon>
      </ion-button> -->
      <!-- <ion-button (click)="openLogUsers($event)">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="primary">
  <ion-refresher (ionRefresh)="doRefresh($event)" color="primary">
    <ion-refresher-content color="light"></ion-refresher-content>
  </ion-refresher>

  <!-- <div style="width: 100%; text-align: center;" *ngIf="isListLoading && page == 1">
    <ion-spinner color="light"></ion-spinner>
  </div> -->

  <ion-list >
    <ion-item color="primary" lines="full" *ngFor="let item of plist; let i = index"
      class="ion-text-wrap dashboard-item ion-no-padding" (click)="passDetails(item)">
      <ion-avatar class="ion-margin">
        <img [src]="item?.sender_profile_image">
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-uppercase">{{item?.event_name}}</h2>
        <p>{{item?.sender_community_name}}</p>
        <p>{{item?.sender_name}}</p>
      </ion-label>
      <p slot="end"><small>{{item?.pass_date}}</small><br><small></small></p>

    </ion-item>
  </ion-list>


  <app-emptyview *ngIf="plist?.length == 0 " [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'You Have No Upcoming Invites'"></app-emptyview>



  <!-- <div class="dflex noRecords" *ngIf='plist?.length != 0'>
    <ion-avatar class="start">
      <img src="assets/imgs/identity.png">
    </ion-avatar>
    <h2>You Have No Upcoming Invites</h2>
  </div> -->

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>

<ion-footer>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="3" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="pass()">
          <div class="dflex">
            <ion-icon name="card"></ion-icon>
            <div *ngIf="plist?.length > 0" class="lab-n">{{plist?.length}}</div>
            <label>My<br>Passes</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="mycontactbutton()">
          <div class="dflex">
            <ion-icon name="people-circle-outline"></ion-icon>
            <label>My<br>Contacts</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="requestapass()">
          <div class="dflex">
            <ion-icon name="key"></ion-icon>
            <label>Request<br>A Pass </label>
          </div>
        </ion-button>
      </ion-col>
      <!-- <ion-col size="3" class="ion-no-padding" *ngIf="can_user_become_resident">
        <ion-button fill="clear" class="" (click)="becomeAResident()" *ngIf="can_user_become_resident" [disabled]="suspandAccount">
          <div class="dflex">
            <ion-icon name="home"></ion-icon>
            <label>Become a<br>Resident</label>
          </div>
        </ion-button>
      </ion-col> -->
      <ion-col size="3" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="newPass()"
          [disabled]="user?.can_send_passes != 1 || user?.can_send_passes != true">
          <div class="dflex">
            <ion-icon name="add"></ion-icon>
            <label>Create<br>A Pass </label>
          </div>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-footer>
