<!-- Generated template for the ComponentsNotificationItemComponent component -->
<!-- <ion-item-sliding #item > -->
  <ion-item class="ion-text-wrap" [ngClass]="{'unread-notification' : itm.is_read == '0'}" (click)="show = !show; markasread.emit(itm['id']); itm.is_read = '1'">

    <ion-label>
      <h2>{{ itm.heading }}</h2>
      <small>{{ itm.subheading }}</small>
      <p [innerHTML]="itm.text"></p>
      <p>{{ itm.created_at }}</p>
      <p *ngIf="itm.type == 0 && itm.expire_at" class="highlight-expires">Expires in : <span [innerHTML]="convertSecondstoTime(countdown)"></span> </p>
      <!-- <ion-grid *ngIf="show && itm.type == 0">
        <ion-row>
          <ion-col col-6>
            <ion-button color="danger" expand="full" (click)="rejectNotf.emit(itm)">
              Reject
            </ion-button>
          </ion-col>

          <ion-col col-6><ion-button color="dark" expand="full" (tap)="createPass.emit(itm)">
              Accept
            </ion-button></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="show && itm.type == 1">
        <ion-row>

          <ion-col col-12><ion-button color="dark" expand="full" (click)="showPass.emit(itm)">
              View Pass
            </ion-button></ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-label>
    <ion-button fill="clear" color="primary" slot="end" (click)="presentPopover($event, itm)">
      <ion-icon name="options"></ion-icon>
    </ion-button>


    <!-- <div *ngIf="itm.type == '1'">
      <h2>{{ itm?.pass_detail?.pass?.event_name }}</h2>
      <small>{{ itm?.pass_detail?.pass?.sender }} {{ itm?.pass_detail?.pass?.phone_number }}</small>
      <p>{{ itm?.pass_detail?.pass?.description }}</p>
    </div> -->

    <!-- <div *ngIf="itm.type == '3'">
      <h2>Announcements</h2>
      <small>{{ itm.announcement.created_at }}</small>
      <p>{{ itm.announcement.description }}</p>
    </div> -->

    <!-- <button ion-button clear color="danger" item-end>Detail</button> -->

  </ion-item>
<!--
  <ion-item-options side="end">
    <button ion-button color="danger" (click)="removeNotf.emit(itm)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding> -->
