<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Arrived Guests</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal({data: 'A'})">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchTerm">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let item of items| filter: searchTerm" class="ion-text-wrap green-border">
      <ion-label>

        <h3>{{item.fullNameInverted}}</h3>
        <p>{{item.phone_number}}</p>
        <p>Scan By: {{item.scanByFullName}} - {{item.scanDate}}</p>
        <p>{{item?.log_text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>