<ion-content class="ion-padding" fullscreen="true">

  <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list>

    <form [formGroup]="aForm">

      <ion-item class="ion-text-wrap">
        <ion-label position="stacked" class="ion-text-wrap">
          Please enter your email to retrieve your password
        </ion-label>
        <ion-input type="email" formControlName="email" id="email" placeholder="example@info.com"></ion-input>
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-item>

      <div class="ion-padding">
        <ion-button shape="round" color="dark" expand="full" type="submit" (click)="save()">Send Email</ion-button>
      </div>
      <ion-item class="ion-text-wrap " (click)="redirectToContactUsFOrm()">
        <ion-label class="ion-text-wrap ion-text-center">
          <small>If you do not have the email, please contact your administrator or <strong>Click Here</strong></small>
        </ion-label>
      </ion-item>

      <!-- <ion-button class="ion-text-wrap" fill="clear" expand="full" color="dark" >
        <strong>Click Here</strong>
      </ion-button> -->


    </form>

  </ion-list>


</ion-content>
<ion-footer color="primary">
  <ion-button class="signup-btn text-transform-non ion-no-padding ion-no-margin" expand="full" color="primary" (click)="login()">
    <small>Already a Member? &nbsp;&nbsp; <strong>Click Here To Login</strong> </small>
  </ion-button>
  <!-- <img src="assets/imgs/background.png"/> -->
</ion-footer>
