ion-header {
  position: absolute;
}

ion-content {
  // background: #dce9f9 !important;
  --background: url("./../../../assets/imgs/bg-m1.jpg") 0 0/100% 100% no-repeat;
  // .fixed-content,
  // .scroll-content {
  //     margin-bottom: 0px !important;
  //     margin-top: 0px !important;
  //     z-index: 999;
  //     -webkit-transform: translate(-50%, -65%);
  //     top: 50%;
  //     left: 0%;
  //     transform: translate(0%, -65%);
  //     z-index: 999;
  //     overflow: initial;
  // }

  .logo {
      margin: 0 30px;
      margin-bottom: 20px !important;
      padding-top: 50px;
  }

  ion-list {
      background: rgba(255, 255, 255, 0.85);

      ion-item {
          padding: 0px !important;
          border-top: 0px !important;
          background: none !important;
          border-bottom: 1px solid #f3f3f3 !important;

          ion-label {
              color: #053058;

              // text-transform: uppercase;
              ion-icon {
                  font-size: 2.4em;
                  position: absolute;
                  right: 15px;
                  color: #484848;
              }
          }
      }

      .createaccount {
          color: color(primary);
          font-weight: bold;
          background: none;
      }
  }

  .item-block .item-inner {
      padding: 10px 19px 0 !important;
      border-bottom: 0px !important;
  }

  .label-ios[stacked] {
      font-size: 1.1rem;
  }
}

ion-footer {
  // position: absolute;
}
