@import './../register.page.scss';

.profile-image-outer{
    position: relative;
    .profile-image-round{
        height: 120px;
        border-radius: 50%;
        width: 120px;
        object-fit: cover;
    }
    .camera-icon{
        position: absolute;
        bottom: 0;
        font-size: 25px;
    }
}

.tel-image{
  height: 100%;
}
